.conteudo{
    border: solid 2px tomato;
    height: 70vh;
   
}
.sobre {

    width: 1100px;
    height: 350px;
    position: relative;
    top: 50px;
    left: 125px;
}
.sobre h1{
    margin-top: 10px;
    margin-left: 500px;
}
.sobre h1::after{
    content: ' ';
    width: 100px;
    height: 2px;
    background: var(--corDegrade2);
    position: absolute;
    bottom: 310px;
    left: 510px;
}
.descricao{
    display: flex;
}
.descricao img{
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 30px;
    box-shadow: -10px 5px 30px 5px black;
}

.sobre p{
    margin-top: 90px;
    margin-left: 150px;
    font-size: 1.4rem;
    font-weight: 200;
}

@media (max-width:700px){ /* para dispositivos moveis*/
    .descricao img{
        display: none;
    }
    .conteudo{
        border: solid 2px tomato;
        height: 70vh;
        position: absolute;
        top: 430px;  
    }
    .sobre p{
        margin-top: 40px;
        margin-left: -20px;
        font-size: 1rem;
    }
    
}