.conteudo{
    height: 510vh;
}
.sobre {
    width: 85vw;
    height: 350px;
    position: relative;
    top: 50px;
    left: 125px;
    text-align: center;
}
.sobre h1{
    margin-top: 10px;
    font-size: 3em;
    font-weight: 500;
    background: var(--corDegrade2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.descricao{
    display: flex;
}
.descricao img{
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 30px;
    box-shadow: -10px 5px 30px 5px black;
}

.sobre p{
    margin-top: 90px;
    margin-left: 150px;
    font-size: 1.4rem;
    font-weight: 200;
}


@media (max-width:768px){ /* para dispositivos tablets*/
    .descricao img{
        display: none;
    }
    .conteudo{
        height: 70vh;
        width: 100vw;
        position: absolute;
        top: 430px;  
    }
    .sobre h1{
        font-size: 3em;
        font-weight: 500;
        background: var(--corDegrade2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        right: 330px; 
    }
    .sobre h1::after{
        position: absolute;
        bottom: 5px;
        left: 10px;

    }
    .sobre p{
        margin-top: 100px;
        margin-left: -10px;
        font-size: 1.4rem;
        width: 70vw;
    }
    
    
}