.conteudo{
    height: 510vh;
}
.sobre {
    width: 100vw;
    height: 350px;
    position: relative;
    top: 50px;
    text-align: center;
    padding: 0 60px;
}
.sobre h1{
    margin-top: 10px;
    font-size: 3em;
    font-weight: 500;
    background: var(--corDegrade2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.descricao{
    display: flex;
}
.descricao img{
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 30px;
    box-shadow: -10px 5px 30px 5px black;
}

.sobre p{
        margin-top: 90px;
        width: 580px;
        margin-left: 150px;
        font-size: 1.4rem;
        font-weight: 200;
        text-align: justify;
}

@media (max-width: 1440px){ /* Computador com tela maior*/
    .descricao{
        padding-left: 100px;
    }
    .sobre p{
        font-size: 1.6rem; 
    }
    .conteudo{
        height: 410vh;
    }
}

@media (max-width: 1024px) { /* laptop menor*/
    .descricao{
        width: 105%;
        margin-left: 0;
        padding: 0;
    }
    .descricao img{
        margin: 0 auto;
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width:768px){ /* para dispositivos tablets*/
    .descricao img{
        display: none;
    }
    .conteudo{
        height: 50vh;
        width: 100vw;
        position: absolute;
        top: 430px;  
    }
    .sobre h1{
        font-size: 3em;
        font-weight: 500;
        background: var(--corDegrade2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        right: 330px; 
    }
    .sobre p{
        margin-top: 100px;
        margin-left: 40px;
        font-size: 1.5rem;
        width: 70vw;
    }
}


@media (max-width: 425px) { /* para dispositivos mobile Large*/
    .sobre h1{
        position: relative;
        right: 26%;
    }
    .sobre p{
        position: relative;
        bottom: 60px;
        right: 85px;
        font-size: 1.4rem;
        width: 88vw;
        
    }
}