.habilidades{
    height: 1500px;
    position: relative;
    top: 130px;
    text-align: center;
}
.habilidades h1{
    margin-top: 20px;
    font-size: 3em;
    font-weight: 500;
    background: var(--corDegrade2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0.3 .2rem .3rem rgba(0, 0, 0, 0.4);
}

.des{
    font-size: 1.4rem;
    margin-top: 15px;
    padding: 50px 70px;
}
.hard h2{
    position: relative;
    top: 20px;
    font-size: 2em;
    text-shadow: 0.3 .2rem .3rem rgba(0, 0, 0, 0.4);
}
.hard h2::after{
    content: '';
    width: 115px;
    height: 2px;
    background: var(--corDegrade);
    position: absolute;
    top: 40px;
    left: 620px;
}
.soft h2{
    position: relative;
    top: 50px;
    font-size: 2em;
    text-shadow: 0.3 .2rem .3rem rgba(0, 0, 0, 0.4);
}
.soft h2::after{
    content: '';
    width: 105px;
    height: 2px;
    background: var(--corDegrade);
    position: absolute;
    top: 40px;
    left: 620px;
}
.hardskills{
    border: 0.01px solid rgb(42,42,42);
    width: 80%;
    height: 800px;
    position: relative;
    top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 15px;
    margin-left: 10vw;
}
.imgHab{
    width: 300px;
    height: 230px;
    background: #2A2A2A;
    box-shadow: 10px 5px 20px 1px black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgHab:hover:before{
    content: '';
    width: 300px;
    height: 230px;
    background: var(--corDegrade2);
    position: absolute;
    margin-left: 20px;
    margin-top: 5px;
    z-index: -1;
    filter: blur(15px);
}
.imgHab h3{
    margin-top: 30px;
}
.hardskills img{
    margin-top: 40px;
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.softskills{
    width: 80%;
    height: 290px;
    position: relative;
    top: 100px;
    left: 10vw; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.softskills h3{
    width: 280px;
    height: 50px;
    font-size: 1.4rem;
    box-shadow: 1px 5px 10px 1px black;
    border-radius: .5rem;
    padding: 10px 10px;
}
[verMais]{
    display: none;
}

@media (max-width: 769px) {
    .overflow{
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 30px;
    }
    .soft h2{
        position: relative;
        top: 450px;
    }
    .hard h2::after{
        position: absolute;
        left: 330px;
    }
    .soft h2::after{
        position: absolute;
        left: 330px;
    }
    .softskills{
        position: relative;
        top: 500px;
    }
}