.projetos{
    position: relative;
    top: 130px;
    width: 100vw;
    height: 750px;
    background-color: rgba(42, 42, 42, 0.9);
    border: solid rgba(42, 42, 42, 0.9) 0.01px;
    text-align: center;
}
.projetos button{
    width:  8rem;
    height: 2.5rem;
    
    color: rgb(0, 0, 0);
    border: none;
    font-size: 1rem;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.projetos h1{
    margin-top: 20px;
    font-size: 1.6rem;
    text-shadow: 0.3 .2rem .3rem rgba(0, 0, 0, 0.4);
    font-size: 3em;
    font-weight: 500;
    background: var(--corDegrade2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slider{
    margin: 0 auto;
    margin-top: 30px;
    /*width: 1205px;*/
    width: 90%;
    /*height: 580px;*/
    height: 77%;
    overflow: hidden;
    box-shadow: 10px 5px 20px 1px black;
}
.slides{
    width: 600%;
    height: 100.7%;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 100%;
    position: relative;
    transition: 2s ease-in-out;
}
.slide img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: opacity .3s;
}

.manual-navigation{
    position: absolute;
    width: 90%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid rgb(194, 186, 186);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .7s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #e91e63;
}
#radio1:checked ~ .primeiro{
    margin-left: 0;
}
#radio2:checked ~ .primeiro{
    margin-left: -20%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -100%;
}
#radio5:checked ~ .primeiro{
    margin-left: -200%;
}
#radio6:checked ~ .primeiro{
    margin-left: -550%;
}
.navigation-auto div{
    border: 2px solid #e91e63;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}
.navigation-auto{
    position: absolute;
    width: 90%;
    margin-top: 540px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4,
#radio5:checked ~ .navigation-auto .auto-btn5,
#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: #e91e63;
}

.slide:hover img{
    opacity: .3;
}
.slide .cardInfo{
    position: absolute;
    left: 30px;
    bottom: 150px;
    text-shadow: 0.3 .2rem .3rem rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 50%;
    height: 50%;
}
.slide .cardInfo h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #e91e63;
    margin: 0 auto;
}
.slide .cardInfo p{
    color: #fff;
    width: 80%;
    font-size: 1.6em;
    font-weight: 400;
    margin: 15px auto;
    text-align: justify;
}

.tecnoUsadas{
    list-style: none;
    display: flex;
    width: 80%;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
    margin-bottom: 35px;
}
.tecnoUsadas li{
    height: 35px;
    width: 150px;
    background: var(--corDegrade);
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 3px;
    padding-top: 5px;
    color: #000;

}

@media (max-width: 1024px) { /* laptop menor*/
    .tecnoUsadas{
        gap: 15px;
    }
}

@media (max-width:768px){ /* para dispositivos tablets*/
    .projetos{
        width: 100%;
        position: relative;
        top: 4px;
        height: 570px;
    }
    .projetos h1{
        font-size: 3em;
        font-weight: 500;
        background: var(--corDegrade2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        right: 260px; 
    }
    .slider{
        position: relative;
        top: 60px;
        height: 450px;
    }
   

}
@media (max-width: 425px) { /* para dispositivos mobile Large*/
    .projetos h1{
        position: absolute;
        right: 24%; 
    }

}
