.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:769px){ /* para dispositivos tablets*/
    .rodape{
        position: absolute;
        bottom: -4585px;
        width: 100%;
        padding: 20px;
    }



}