.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.rodapeNome{
    background: var(--corDegrade2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width:769px){ /* para dispositivos tablets*/
    .rodape{
        position: absolute;
        bottom: -4585px;
        width: 100%;
        padding: 20px;
    }



}